body {
    background: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%) no-repeat;
}

h1 {
    font-family: 'Handjet', cursive;
    text-align: center;
    font-size: 50px;
    color: #474080;
    text-shadow: #8275e4 5px 5px 3px;
}

footer {
    font-family: 'Handjet', cursive;
    color:#474080;
    font-size: 20px;
}

footer > a {
    text-decoration: none;
}

footer > a:hover {
    text-decoration: underline;
}

.container {
    background-color: #f9d6ed;
    border: 3px solid #d899c2;
    border-radius: 15px;
    box-shadow: 5px 5px 35px #6fc2f2;
    margin: 50px 200px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 150px;
}

.tile {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin: 20px auto;
    border: 6px solid #d899c2;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.footer {
    text-align: center;
    margin-bottom: 25px;
}